.demo {
  border: 1px #aaa solid;
  margin-top: 1em;
  margin-bottom: 1em;  
}

.demo p {
  margin-block-start: 0.5em;
}

.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}

.list-compliete-demo {
  border: 1px;
  margin-bottom: 1em;
}

.moving {
  color: #f00;
  font-weight: bold;
}